body{
background:#f2f3f7;
font-family:Arial, sans-serif;
}

.auth-wrapper{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
width:320px;
padding:35px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

.icon-top{
font-size:22px;
color:#6c7ae0;
margin-bottom:10px;
}

.sub{
font-size:14px;
color:#888;
margin-bottom:20px;
}

.input-group{
position:relative;
margin-bottom:15px;
}

.input-group input{
width:100%;
border:none;
border-bottom:1px solid #ddd;
padding:10px;
outline:none;
}

.input-icon{
position:absolute;
right:5px;
top:12px;
color:#bbb;
}

.row{
display:flex;
justify-content:space-between;
font-size:13px;
margin-bottom:15px;
color:#777;
}

.link{
color:#6c7ae0;
cursor:pointer;
}

.primary-btn{
background:#6c7ae0;
border:none;
color:white;
padding:10px 25px;
border-radius:5px;
cursor:pointer;
width:100%;
}

.primary-btn:hover{
opacity:0.9;
}

.bottom-text{
margin-top:15px;
font-size:14px;
}